{% extends 'base.html' %}
{% block content %}
{% for i in snippet %}
<div class="container">
   <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/{{i['id']}}" frameborder="0" allowfullscreen></iframe>
   </div>
   {% endfor %}
   <!-- Modal Trigger -->
   <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
      <li class="tab"><a class="active" href="#test1">Video Information</a></li>
      <li class="tab"><a href="#test2">Statistics Details</a></li>
      <li class="tab"><a href="#test3">Channel Details</a></li>
   </ul>
   <div id="test2" class="col s12">
      {% for stats in statistics %}
      <table class="striped centered">
         <th>
         <tr>
            <td><span><strong>Current Video Views</strong></span></td>
            <td><span><strong>Favorite Counts </strong></span></td>
            <td><span><strong>Current Video Likes </strong></span></td>
            <td><span><strong>Current Video Dislikes</strong></span></td>
            <td><span><strong>Current Video Comment Count </strong></span></td>
         </tr>
         </th>
         <th>
         <tr>
            <td><i class="material-icons">visibility</i>{{stats['viewCount']}}</td>
            <td><i class="material-icons">favorite</i>{{stats['favoriteCount']}}</td>
            <td><i class="material-icons">thumb_up</i>{{stats['likeCount']}}</td>
            <td><i class="material-icons">thumb_down</i>{{stats['dislikeCount']}}</td>
            <td><i class="material-icons">comment</i>{{stats['commentCount']}}</td>
         </tr>
         </th>
      </table>
      {% endfor %}
   </div>
   <div id="test3" class="col s12">
      {% for sub in subCount %}
      <table class="striped centered">
         <th>
         <tr>
            <td><span><strong>Total Subscriber Count </strong></span></td>
            <td><span><strong>Total View Counts</strong></span></td>
            <td> <span><strong>Total Number Of Videos Uploaded</strong> </span></td>
         </tr>
         </th>
         <th>
         <tr>
            <td><i class="material-icons">subscriptions</i>{{sub['totalSubscribers']}}</td>
            <td><i class="material-icons">visibility</i>{{sub['totalViewCount']}}</td>
            <td><i class="material-icons">video_library</i>{{sub['totalVideo']}}</td>
         </tr>
         </th>
      </table>
      {% endfor %}
   </div>
   <div id="test1" class="col s12">
      {% for i in snippet %}
      <p><span class="material-icons">title</span>{{i['video_title']}}</p>
      {% endfor %}
   </div>
</div>
{% endblock %}

